$body-background-color:#F9FAFC !default;
$default-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20);

$card-title-background-color:    #7c1d4e !default;
$card-title-color:    white !default;

$dialog-title-background-color:    #00B7F4 !default;
$dialog-title-text-color:    white !default;

$dialog-title-color:    white !default;

$main-button-background-color: #7c1d4e !default;
$main-button-color: white !default;

$warning-button-background-color: #e1ad28 !default;
$warning-button-color: white !default;

$step-bar-background-color-active: #00B7F4 !default;
$step-bar-color-active: white !default;
$step-bar-background-color: white !default;
$step-bar-color: #194C5D !default;

$btn-action-color: #428ECA !default;

$fontFamily: unquote('Khmer, Open Sans, sans-serif');

$table-head-background-color: #e9ecef !default;
$table-head-color: #8E8C8C !default;
$table-background-color: white !default;
$table-hover-color: #F7F5F5 !default;
$table-hover-background-color: #F7F5F5 !default;

$menu-color-active: #00B7F4 !default;
$menu-color: #606060 !default;

$form-control-color:#286C84 !default;
$form-label-color:#919191 !default;

$pannel-pop-border-color: #2BBFA8 !default;
$pannel-content-color: #194C5D;

$gray_label: #686868;
$value: #194C5D;

$in-progress: #14a1b4;
$pending: #9a36df;
$success: #31b331;
$rejected: #f02d2d;
$new-request: #8f97a6;
$allocate: #14A1B4;
$activate: #6461c1;
$return: #e1ad28;

$login-text-color: white;
$main-text-color: #7c1d4e;
$main-text-color: #7c1d4e;

//screen size
$phone: 768px;
$md-screen: 1200px;
